<h1>XKCD 936 compliant password generator (I think)</h1>

<div id='generator-box'>
  <p id='error'>Ooops, there was a bit of a problem. Try again?</p>
  <div id="generator">
    <input type="text"  id="generated-password" value="<%=@password%>" onselect="select_text();" onclick="select_password();" readonly="readonly">
    <%=form_tag('/passwords', :method=>'get', :id=>'generate-password-form', :remote=>true) do -%>
      <p>
        <%= label "min_word_count", "Minimum words in password:" %>
        <%= select_tag "min_word_count", options_for_select([4,5,6,7,8], 4) %>
      </p>
      <p>
        <%= label "min_length", "Minimum password length:" %>
        <%= select_tag "min_length", options_for_select([15, 20, 25, 28,30, 35], 28) %>
      </p>
      <p>
        <%= label "separator", "Word separator:" %>
        <%= select_tag "separator", options_for_select(["", "-", "_", "@", 1], "-") %>
      </p>
      <%= submit_tag "Generate a password" %>
    <% end -%>
    <%= image_tag('ajax-loader.gif', :id=>'ajax-loader') %>

  </div>
</div>

<div id="blurb">

<p><a href="http://xkcd.com/936/">XKCD 936</a> (below) was a revelation to me. I felt fooled by previous password advice.  Here you can generate a password of a minumum length made up of a minumum number of words from the 2,284 word-long <a href="http://jbauman.com/aboutgsl.html">General Service List</a>.</p>

<p><em>Disclaimer:</em> I am neither a security expert, or versed in Information Theory.  I do not know for sure choosing 4 words from a 2,284 long list gives good enough passwords.  If you want to enlighten me, I am <a href="https://twitter.com/paulanthonywils">@paulanthonywils</a> on Twitter.</p>

</div>

<hr/>
<p id='xkcd-image'>
  <a href="http://xkcd.com/936/"><img src="https://imgs.xkcd.com/comics/password_strength.png" alt="XKCD password strength panels"/></a>
</p>

<script>
  function select_password(){
    var passwordElement = document.getElementById('generated-password');
    passwordElement.focus();
    passwordElement.select();
  }

  $(document).ready(function(){
    $('#generate-password-form')
    .bind('ajax:beforeSend', function(){$('#ajax-loader').show();})
    .bind('ajax:complete', function(){$('#ajax-loader').hide();})
    .bind('ajax:error', function(){$('#error').show(); $('#generated-password').val('');})
    .bind('ajax:success', function(){$('#error').hide();});

    $('#word-count-slider').slider({min:1, max: 6, value:4});
  });

</script>
